<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="rounded-2">
                <div class="mb-3">
                    <h1>{{item.activity_name}}</h1>
                    <small>{{item.cdate}}</small>
                    
                </div>


                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#msg">รายละเอียด</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#pro">รายชื่อผู้สมัคร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#set">FAQ</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="msg">
                        <div class="row-fluid">                            
                            <div class="col-sm"><img src="{{imgUrl}}{{item.activity_poster}}" class="img-fluid"></div>
                            <div class="col-sm">{{item.activity_description}}</div>
                            <div class="col-sm">{{item.activity_faculty|json}}</div>
                        </div>
             
                        <div class="row-fluid">
                            <div class="col-4">label</div>
                            <div class="col-8">content</div>
                        </div>

                        <div class="label-data">
                            <label class="">Flex item</label>
                            <span class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur error unde cupiditate itaque consequuntur officia consectetur fuga ipsa exercitationem inventore! Dolorem quos nesciunt inventore eligendi sequi architecto nemo saepe? Aut?</span>
                        </div>


                    </div>
                    <div class="tab-pane container" id="pro">
                        This is a profile tab.
                    </div>
                    <div class="tab-pane container" id="set">
                        {{item|json}}
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">

            <div class="bg-light rounded-2 p-3 mb-3">
                <div class="row">
                    <h2 class=""><i class="bi bi-clipboard-data me-2"></i>จำนวนผู้ร่วมกิจกรรม</h2>
                    <div class="col-6">
                        <div class="bg-white rounded-2 text-center pb-1">
                            <span class="small">สมัคร</span>
                            <div class="h2"><strong>{{item.activity_receive}}</strong></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-white rounded-2 text-center pb-1">
                            <span class="small">จำนวนรับ</span>
                            <div class="h2"><strong>{{item.activity_receive}}</strong></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success w-100 mt-3">สมัครเข้าร่วม</button>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card card-no-border bg-light">
                        <div class="card-body">
                            <div class="label-data">
                                <label>aaa</label>
                                <span>bbb</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>