<section class="container-fluid">
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="rounded-2">
                <div class="mb-3">
                    <h1>{{item.activity_name}}</h1>
                    <small class="text-hint">{{item.cdate|thaidate}}</small>
                </div>


                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#msg">รายละเอียด</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#pro">รายชื่อผู้สมัคร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#set">FAQ</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="msg">
                        <div class="row-fluid">
                            <div class="col pt-4"><img class="w-100" src="{{imgUrl}}{{item.activity_poster}}"></div>
                        </div>

                        <div class="panel-data">
                            <label>ชื่อโครงการ/กิจกรรม</label>
                            <div>
                                {{item.activity_name}}&nbsp;
                            </div>
                            <label>ภาคเรียน</label>
                            <div>
                                {{item.activity_term}}/{{item.activity_year}}&nbsp;
                            </div>
                            <label>ผู้จัดกิจกรรม</label>
                            <div>
                                {{item.actorganization_id}}&nbsp;
                            </div>
                            <label>รายละเอียด</label>
                            <div>
                                {{item.activity_description}}&nbsp;
                            </div>
                            <label>จำนวนรับ</label>
                            <div>
                                {{item.activity_receive}}&nbsp;คน
                            </div>
                            <label>สถานะ</label>
                            <div>
                                {{item.activity_statusvalue}}&nbsp;
                            </div>
                        </div>






                    </div>
                    <div class="tab-pane container" id="pro">
                        This is a profile tab.
                    </div>
                    <div class="tab-pane container" id="set">
                        {{item|json}}
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">

            <div class="bg-white rounded-2 p-3 mb-3">
                <div class="row">
                    <div class="my-2">
                        <h2><i class="bi bi-clipboard-data me-2"></i>จำนวนผู้ร่วมกิจกรรม</h2>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-2 text-center pb-1">
                            <span class="small">สมัคร</span>
                            <div class="h2"><strong>{{item.activity_receive}}</strong></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light rounded-2 text-center pb-1">
                            <span class="small">จำนวนรับ</span>
                            <div class="h2"><strong>{{item.activity_receive}}</strong></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success w-100 mt-3">สมัครเข้าร่วม</button>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card card-no-border bg-white">
                        <div class="card-body">
                            <div class="label-data">
                                <label>aaa</label>
                                <span>bbb</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>