<section class="container-fluid">
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="rounded-2">
                <div class="mb-3">
                    <h1>{{activity.activity_name}}</h1>
                    <small class="text-hint">{{activity.cdate|thaidate}}</small>
                </div>


                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#msg">รายละเอียด</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#pro">รายชื่อผู้สมัคร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#set">debuger</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="msg">
                        <div class="row-fluid">
                            <div class="col pt-4"><img class="w-100" src="{{imgUrl}}{{activity.activity_poster}}"></div>
                        </div>


                        <ul class="panel-label-content">
                            <li>
                                <label>ชื่อโครงการ :</label>
                                {{activity.activity_name}}
                            </li>
                            <li>
                                <label>ภาคเรียน :</label>
                                {{activity.activity_term}}/{{activity.activity_year}}
                            </li>
                            <li>
                                <label>ผู้จัดกิจกรรม :</label>
                                {{activity.actorganization_id}}
                            </li>
                            <li>
                                <label>รายละเอียด :</label>
                                {{activity.activity_description}}
                            </li>
                            <li>
                                <label>จำนวนรับ :</label>
                                {{activity.activity_receive}}&nbsp;คน
                            </li>
                            <li>
                                <label>สถานะ :</label>
                               {{activity.activity_statuscode}}
                            </li>
                        </ul>









                    </div>
                    <div class="tab-pane container" id="pro">

                        <table class="app-table">
                            <thead>
                                <tr>
                                    <td>ที่</td>
                                    <td>รหัส</td>
                                    <td>ชื่อ-สกุล</td>
                                    <td>สถานะ</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of registerusers;index as i">
                                    <td class="align-top">{{i+1}}</td>
                                    <td class="align-top">{{item.studentcode}} </td>
                                    <td>{{item.displayname}}<span class="d-block text-sm text-muted">{{item.faculty_name}}</span></td>
                                    <td><span [innerHtml]="item.register_status|registerStatus"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane container" id="set">

                        <!-- {{activity|json}} -->
                        <ul class="panel-label-content">
                            <li *ngFor="let item of activity|keyvalue">
                                <label style="width:180px">{{item.key}} :</label>
                               {{item.value}}
                            </li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">

            <div class="bg-white rounded-2 p-3 mb-3">
                <div class="row">
                    <div class="my-2">
                        <h2><i class="bi bi-clipboard-data me-2"></i>จำนวนผู้ร่วมกิจกรรม</h2>
                    </div>

                    <div class="col-6">
                        <div class="bg-light rounded-2 text-center pb-1">
                            <span class="small">สมัคร</span>
                            <div class="h2"><strong>{{registeruser_count}}</strong></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light rounded-2 text-center pb-1">
                            <span class="small">จำนวนรับ</span>
                            <div class="h2"><strong>{{activity.activity_receive}}</strong></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isregistered==undefined"><button class="btn btn-success w-100 mt-3" (click)="register()">สมัครเข้าร่วม</button></div>
                <div *ngIf="isregistered!==undefined"><div class="w-100 text-center text-success mt-3">ลงทะเบียนแล้ว</div></div>
                
            </div>

            <div class="row">
                <div class="col">
                    <div class="card card-no-border bg-white">
                        <div class="card-body">
                            <div class="label-data">
                                <label>aaa</label>
                                <span>bbb</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>