<div class="container-fluid">
    <div class="page-topic">
        <h1>กิจกรรมของฉัน</h1>
    </div>

    <div class="row">
        <div class="col-md-6">aa</div>
        <div class="col-md-5">bb</div>
    </div>

    <div class="page-topic">
        <h1>กิจกรรมใหม่</h1>
    </div>
    <div class="row row-fluid">
        <!--class="row row-fluid" -->
        <div *ngFor="let item of activitys" class="col-sm-12 col-md-6 col-lg-4 col-xxl-3">
            <app-activity-item clss="card" [item]="item" (onRegister)="onRegister($event)"
                (onDelete)="onDelete($event)">
            </app-activity-item>
        </div>
    </div>






</div>