<div class="container-fluid mt-2">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">กิจกรรที่ลงทะเบียน</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">กิจกรรมที่รออนุม้ติ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>


    <section>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="mt-3">
                    กิจกรรมที่กำลังจะมาถึง

                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="mt-3">
                    กิจกรรมที่ได้ลงทะเบียนไว้

                </div>
            </div>
        </div>
    </section>



    <div class="row row-fluid">
        <div *ngFor="let item of activitys" class="col col-md-6 col-lg-4">
            <app-activity-item clss="card" [item]="item" (onRegister)="onRegister($event)"
                (onDelete)="onDelete($event)">
            </app-activity-item>
        </div>
    </div>



    <div class="position-relative m-4">
        <div class="progress" style="height: 1px;">
          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
      </div>


</div>