<app-page-title _title="แผงควบคุม" _icon="bi bi-speedometer2"></app-page-title>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel Wizard</h3>
                </div>
                <div class="panel-body">
                    <i class="bi bi-pencil"></i>
                </div>
            </div>

        </div>
    </div>








</div>




