<app-page-title _title="องค์กรจัดกิจกรรม" _icon="bi bi-building"></app-page-title>
<div class="container-fluid">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex py-2">
                <div class="me-auto">
                    <div class="input-group">
                        <input [(ngModel)]="keyword" (keydown)="searchkeydown($event)" type="text" class="form-control"
                            placeholder="ค้นหา" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-success text-white" type="button" id="button-addon2" (click)="getItems()">
                            <i class="bi bi-search"></i>
                        </button>
                        <div *ngIf="loading" class="ms-3">
                            <span class="text-info spinner-border spinner-border-lg align-center"></span>
                        </div>
                    </div>
                </div>

                <div class="align-self-center"><button class="btn btn-success text-white" (click)="getItems()">
                        <i class="bi bi-arrow-repeat"></i>
                    </button></div>
                <div class="align-self-center ms-2"><button class="btn btn-success text-white" data-bs-toggle="modal"
                        data-bs-target="#addnewModal" (click)="addnewItem();">
                        <i class="bi bi-plus"></i>เพิ่มรายการ
                    </button></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="card card-shadow">
                <div class="card-body">
                    <table class="item-table">
                        <thead>
                            <tr>
                                <th class="text-center"><i class="bi bi-gear"></i></th>
                                <th>ID</th>
                                <th>รหัส</th>
                                <th>ชื่อ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td class="fit">
                                    <button class="btn btn-sm btn-success text-white" data-bs-toggle="modal"
                                        data-bs-target="#updateModal" (click)="updateItem(item);">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="ms-2 btn btn-sm btn-danger text-white" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" (click)="deleteItem(item);">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                                <td>{{ item.actorganization_id }}</td>
                                <td>{{ item.actorganization_code }}</td>
                                <td>{{ item.actorganization_name }}</td>
                            </tr>
                            <tr *ngIf="!loading && !itemsfound" colspan="10" class="text-center">
                                <td>
                                    <span class="text-error">-ไม่พบข้อมูล-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row pagination-wrapper d-flex justify-content-between mt-2">
                        <div class="w-auto align-self-center ms-1">พบข้อมูล {{itemsfound}} รายการ แสดงหน้า
                            {{page}}/{{pagetotal}}
                        </div>
                        <div class="w-auto align-self-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                            (click)="previouspage()"><i class="bi bi-chevron-left"></i></a></li>
                                    <li *ngFor="let pageno of [].constructor(pagetotal);let i = index" class="page-item"
                                        [ngClass]="{active: (i+1)===page}">
                                        <a class="page-link" href="javascript:void(0)"
                                            (click)="changepage(i+1)">{{i+1}}</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                            (click)="nextpage()"><i class="bi bi-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-theme-light-1">
                <h5 class="modal-title text-success" id="addnewModalLabel"><i
                        class="bi bi-plus-circle me-2"></i>ลบข้อมูล</h5>
                <button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col">
                        รหัส {{itemSelected?.actorganization_code}} : {{itemSelected?.actorganization_name}}
                    </div>
                </div>
                <!-- {{itemSelected|json}} -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-danger" (click)="submitDelete()">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addnewModal" tabindex="-1" aria-labelledby="addnewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-theme-light-1">
                <h5 class="modal-title text-success" id="addnewModalLabel"><i
                        class="bi bi-plus-circle me-2"></i>เพิ่มข้อมูล</h5>
                <button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body mb-2">
                <form [formGroup]="formActorganization" #ngForm="ngForm">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">รหัส</label>
                            <input formControlName="actorganization_code" autofocus class="form-control">
                            <!-- {{f['actorganization_code'].touched}} {{!!f['actorganization_code'].errors}}  -->
                            <div *ngIf="f['actorganization_code'].touched&&f['actorganization_code'].errors">
                                <div *ngIf="f['actorganization_code'].errors['required']" class="form-error">Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">ชื่อ</label>
                            <input formControlName="actorganization_name" class="form-control">
                            <div *ngIf="f['actorganization_name'].touched&&f['actorganization_name'].errors">
                                <div *ngIf="f['actorganization_name'].errors['required']" class="form-error">Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">ชื่อ_en</label>
                            <input formControlName="actorganization_name_en" class="form-control">
                        </div>
                    </div>
                </form>
                <!-- {{this.formActorganization.value|json}} -->
            </div>
            <div class="modal-footer">
                <button [disabled]="!formActorganization.valid" type="button" class="btn btn-success"
                    (click)="submitAddnew()">บันทึก</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-theme-light-1">
                <h5 class="modal-title text-success" id="addnewModalLabel"><i
                        class="bi bi-plus-circle me-2"></i>แก้ไขข้อมูล</h5>
                <button type="button" class="btn-close" tabindex="-1" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body mb-2">
                <form [formGroup]="formActorganization" #ngForm="ngForm">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">รหัส</label>
                            <input formControlName="actorganization_code" class="form-control">
                            <div *ngIf="f['actorganization_code'].touched&&f['actorganization_code'].errors">
                                <div *ngIf="f['actorganization_code'].errors['required']" class="form-error">Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">ชื่อ</label>
                            <input formControlName="actorganization_name" class="form-control">
                            <div *ngIf="f['actorganization_name'].touched&&f['actorganization_name'].errors">
                                <div *ngIf="f['actorganization_name'].errors['required']" class="form-error">Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">ชื่อ_en</label>
                            <input formControlName="actorganization_name_en" class="form-control">
                        </div>
                    </div>
                </form>
                <!-- {{this.formActorganization.value|json}} -->
            </div>
            <div class="modal-footer">
                <button [disabled]="!formActorganization.valid" type="button" class="btn btn-success"
                    (click)="submitUpdate()">บันทึก</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>