<app-pagetitle _title="ข้อมูลกิจกรรม" _icon="bi bi-journals"></app-pagetitle>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="d-flex py-2"> 
                <div class="me-auto">
                    <div class="input-group">
                        <input [(ngModel)]="keyword" (keydown)="searchkeydown($event)" type="text" class="form-control"
                            placeholder="ค้นหา" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-success text-white" type="button" id="button-addon2" (click)="getItems()">
                            <i class="bi bi-search"></i>
                        </button>
                        <div *ngIf="loading" class="ms-3">
                            <span class="text-info spinner-border spinner-border-lg align-center"></span>
                        </div>
                    </div>
                </div>

                <div class="align-self-center"><button class="btn btn-success text-white" (click)="getItems()">
                        <i class="bi bi-arrow-repeat"></i>
                    </button></div>
                <div class="align-self-center ms-2"><button class="btn btn-success text-white" [routerLink]="['create']">
                        <i class="bi bi-plus"></i>เพิ่มรายการ
                    </button></div>
            </div>

            <div class="card card-no-border">
                <div class="card-body">
                    <table class="item-table">
                        <thead>
                            <tr>
                                <th class="text-center"><i class="bi bi-gear"></i></th>
                                <th>รหัส</th>
                                <th>รหัสกิจกรรม</th>
                                <th>ชื่อกิจกรรม</th>
                                <th>สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td class="fit">
                                    <button class="btn btn-sm btn-success text-white"
                                        [routerLink]="['update',item.activity_id]" [state]="{data:item}">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="ms-2 btn btn-sm btn-danger text-white" (click)="deleteItem(item);">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                                <td>{{ item.activity_id }}</td>
                                <td>{{ item.activity_code }}</td>
                                <td>{{ item.activity_name }}</td>
                                <td>
                                    <!-- <img *ngIf="item.activity_poster" src="http://localhost:3000/api/v1/files/{{item.activity_poster}}" style="width:100px"> -->
                                    <div class="d-inline" [ngClass]="{'text-inactive':!item.activity_poster}"><i class="bi bi-image"></i></div>
                                    <div class="d-inline ms-1" [ngClass]="{'text-inactive':!item.activity_poster}" *ngIf="item.activity_statuscode=='0'"><i class="bi bi-eye-slash"></i></div>
                                    <div class="d-inline ms-1" *ngIf="item.activity_statuscode=='1'"><i class="bi bi-eye"></i></div>
                                </td>
                            </tr>

                            <tr *ngIf="!loading && !itemsfound">
                            <td colspan="10" class="text-center">
                                <span class="text-error">Not found !</span>
                            </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row pagination-wrapper d-flex justify-content-between mt-2">
                        <div class="w-auto align-self-center ms-1">พบข้อมูล {{itemsfound}} รายการ แสดงหน้า {{page}}/{{pagetotal}}
                        </div>
                        <div class="w-auto align-self-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                            (click)="previouspage()"><i class="bi bi-chevron-left"></i></a></li>
                                    <li *ngFor="let pageno of [].constructor(pagetotal);let i = index" class="page-item"
                                        [ngClass]="{active: (i+1)===page}">
                                        <a class="page-link" href="javascript:void(0)"
                                            (click)="changepage(i+1)">{{i+1}}</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0)"
                                            (click)="nextpage()"><i class="bi bi-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>