<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="d-flex py-2">
                <div class="me-auto">
                    <button class='btn p-0 m-0' [routerLink]="['../']" routerLinkActive="router-link-active"><i
                            class="bi bi-chevron-left me-1"></i>ย้อนกลับ</button>
                </div>
                <div class="align-self-center ms-2">
                    <!-- <button class="btn btn-sm btn-info text-white">
                        <i class="bi bi-arrow-repeat"></i>
                    </button> -->
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-msu-yellow1 h5">
                    เพิ่มข้อมูล 
                </div>
                <div class="card-body">


                    <form [formGroup]="formActivity" #ngForm="ngForm" autocomplete="off">
                        <div class="row">
                            <!-- <div class="col" style="flex: 0 1 100px;">
                                <label class="form-label">รหัส</label>
                                <input formControlName="activityid" class="form-control" readonly
                                    placeholder="อัตโนมัติ">
                            </div> -->
                            <div class="col-sm-4 col-lg-2">
                                <label class="form-label">รหัสกิจกรรม</label>
                                <input formControlName="activitycode" class="form-control">
                            </div>
                            <div class="col-sm-8 col-lg-6">
                                <label class="form-label">ชื่อกิจกรรม</label>
                                <input formControlName="activityname" class="form-control">
                            </div>
                            <div class="col-sm-4 col-lg-2">
                                <label class="form-label">ปีการศึกษา</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-sm-4 col-lg-2">
                                <label class="form-label">ภาคเรียน</label>
                                <select class="form-select">
                                    <option value="null" selected>-เลือก-</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>

                            <div class="w-100"></div><!-- Force next columns to break to new line -->
                            <div class="col-sm-6 col-lg-4">
                                <label class="form-label">องค์กรผู้จัด</label>
                                <select class="form-select">
                                    <option selected>-เลือก-</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <label class="form-label">ผู้เปิดกิจกรรม</label>
                                <select class="form-select">
                                    <option selected>-เลือก-</option>

                                    <option>...</option>

                                </select>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <label class="form-label">ประเภทกิจกรรม</label>
                                <select formControlName="acttypeid" class="form-select">
                                    <option value="null">-เลือก-</option>
                                    <option *ngFor="let item of optionActtype" value="{{item.value}}">{{item.value}}: {{item.name}}</option>        
                                </select>
                            </div>

                            <div class="w-100"></div><!-- Force next columns to break to new line -->
                            <div class="col-sm-6">
                                <label class="form-label">สถานที่จัดกิจกรรม</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">รายละเอียด</label>
                                <textarea type="text" class="form-control" placeholder=""></textarea>
                            </div>

                            <div class="w-100"></div><!-- Force next columns to break to new line -->
                            <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
                                <div class="form-group">
                                    <label class="form-label">วันที่เปิดกิจกรรม</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker
                                            #d1="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d1.toggle()"
                                                type="button"><i class="bi bi-calendar2-fill"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
                                <div class="form-group">
                                    <label class="form-label">วันที่ปิดกิจกรรม</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker
                                            #d2="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d2.toggle()"
                                                type="button"><i class="bi bi-calendar2-fill"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="w-100"></div><!-- Force next columns to break to new line -->
                            <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
                                <label for="inputCity" class="form-label">จำนวนที่รับ</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
                                <label for="inputCity" class="form-label">แหล่งงบประมาณ
                                </label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
                                <label for="inputZip" class="form-label">งบประมาณขออนุมัติ</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 col-xxl-2">
                                <label for="inputZip" class="form-label">งบประมาณใช้จริง</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>

                            <div class="w-100"></div><!-- Force next columns to break to new line -->
                            <div class="col-12 mt-2">
                                <label class="form-label">คณะที่เปิดให้ลงทะเบียน</label>
                                <div class="w-100"></div>
                                <label class="mt-2">
                                    <input type="checkbox" />
                                    เลือก/ไม่เลือกทั้งหมด
                                </label>
                            </div>


                            <div *ngFor="let item of optionFaculty; let i=index" class="col-md-6 col-xl-4 col-xxl-3">
                                <label>
                                    <input type="checkbox" [value]="item.value" [(ngModel)]="item.selected"
                                        [ngModelOptions]="{standalone: true}" />
                                    {{item.name}}
                                </label>
                            </div>











                            <div class="w-100"></div><!-- Force next columns to break to new line -->
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success me-2" [disabled]="!formActivity.valid"
                                        (click)="onSubmit()">บันทึก</button>
                                    <button type="button" [routerLink]="['../']"
                                        class="btn btn-secondary">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>


{{formActivity.value|json}}


        </div>
    </div>
</div>