<div [class.sb-sidenav-toggled]="openSidenav">
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="xsidebar-heading border-bottom bg-light d-flex">
                <span class="w-100" style="border-right:1px solid #dee2e6;width:20px;"><div class="text-center py-3">ผู้ดูแลระบบ (Admin)</div></span>
                
                <span class="align-self-center" [class.rotate-180]="openSidenav"
                (click)="toggleSideNav()"> <i class="bi bi-chevron-right"></i></span>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action p-3" routerLink="dashboard"
                    routerLinkActive="active">แผงควบคุม</a>
                <a class="list-group-item list-group-item-action p-3" routerLink="activity"
                    routerLinkActive="active">รายการกิจกรรม</a>
                <a class="list-group-item list-group-item-action p-3" routerLink="user"
                    routerLinkActive="active">ผู้ใช้งาน</a>
                <a class="list-group-item list-group-item-action p-3" routerLink="acttype"
                    routerLinkActive="active">ประเภทกิจกรรม</a>
                <a class="list-group-item list-group-item-action p-3" routerLink="actagent"
                    routerLinkActive="active">หน่วยงานจัดกิจกรรม</a>
                <a class="list-group-item list-group-item-action p-3" routerLink="faculty"
                    routerLinkActive="active">คณะหน่วยงาน</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <!-- <div>
                <i class="rotate bi bi-caret-right-square-fill m-1 text-primary" [class.rotate-180]="openSidenav"
                    (click)="toggleSideNav()"></i>
            </div> -->
            <router-outlet></router-outlet>
        </div>

    </div>
</div>