<div class="container-fluid">
  <div class="row d-flex align-items-center">

    <div class="col-12 col-md-6">
      <img src="assets/images/login.png" class="img-fluid" alt="Sample image">
    </div>

    <div class="col-12 col-md-6">
      <form [formGroup]="frmLogin" (ngSubmit)="onSubmit(frmLogin)">
        <p class="lead fw-normal mt-2">
          <i class="bi bi-key me-2"></i>เข้าใช้งานระบบด้วย
        </p>
        <div class="d-flex align-items-center my-4">
          <img class="img-fluid ms-auto" src="assets/images/msu-authentication.JPG">
        </div>
        <div class="divider d-flex align-items-center my-4">
          MSU Network Authentication Account
        </div>

        <!-- Username input -->
        <div class="form-outline mb-2">
          <label class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control" placeholder="Enter Username" />
          <div
            *ngIf="frmLogin.get('username')?.invalid && (frmLogin.get('username')?.dirty || frmLogin.get('username')?.touched)"
            class="form-error">
            <div *ngIf="frmLogin.get('username')?.errors?.['minlength']"> min length =3</div>
            <div *ngIf="frmLogin.get('username')?.errors?.['required']">Please provide a name.</div>
          </div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2">
          <label class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" placeholder="Enter password" />
          <div
            *ngIf="frmLogin.get('password')?.invalid && (frmLogin.get('password')?.dirty || frmLogin.get('password')?.touched)"
            class="form-error">
            <!-- <div *ngIf="frmLogin.get('password')?.hasError('minlength')" >xxxx</div> -->
            Please provide a password.
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <!-- Checkbox -->
          <div class="form-check mb-0">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
              Remember me
            </label>
          </div>
          <a href="#" class="text-body">Forgot password?</a>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2 mb-4">
          <button type="submit" class="btn btn-success px-5" [disabled]="!frmLogin.valid">Login</button>
          <a class="d-block mt-3" routerLink="/home">กลับหน้าหลัก</a>
        </div>
      </form>
    </div>


  </div>
</div>