<div class="container-fluid">
    <h1>Guest home works!</h1>
    
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quas blanditiis velit, architecto dolorum molestias perspiciatis ad earum minima doloribus at? Ad perferendis itaque consequuntur nesciunt cumque accusamus molestiae praesentium tempora voluptatem? Et, nam possimus quisquam, aspernatur dolores illo eveniet voluptate corporis a, sapiente neque quos voluptatem enim sed ullam!</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>