<!-- <div class="page-topic">
  <h1>Guest home works!</h1>
</div> -->
<div class="row">
  <h3><i class="bi bi-megaphone me-2 "></i>ข่าวประชาสัมพันธ์</h3>
  <div class="col">

    <div class="card">
      <div class="card-body">
    xxxxx
      </div>
    </div>

  </div>
  <div class="col-lg-4 d-xs-block">

    <div class="card">
      <div class="card-header"> Loing box</div>
      <div class="card-body">
    xxxxx
      </div>
    </div>

  </div>
</div>



<div class="row">
  <h3><i class="bi bi-journal-bookmark me-2"></i>สมัครเข้าเร่วมกิจกรรม</h3>
  <div class="col">
    
    <div class="card">
      <div class="card-body">
    xxxxx
      </div>
    </div>

</div>
  <div class="col">

    <div class="card">
      <div class="card-body">
    xxxxx
      </div>
    </div>

  </div>
</div>






<h3><i class="bi bi-file-medical me-2"></i>ประกาศ/ ระเบียบ/ คำสั่ง</h3>
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
    Featured
    <span >
      <div class="mini-calendar mini-calendar-sm">
        <label>01</label>
        <span>ม.ค.</span>
      </div>
    </span>      
    </div>

  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Nobis, quas blanditiis velit, architecto dolorum molestias perspiciatis ad
      earum minima doloribus at? Ad perferendis itaque consequuntur nesciunt cumque accusamus molestiae praesentium
      tempora voluptatem? Et, nam possimus quisquam, aspernatur dolores illo eveniet voluptate corporis a, sapiente
      neque quos voluptatem enim sed ullam!</p>
    <div class="g-1">
      <a href="#" class="btn btn-primary mx-1">primary</a>
      <a href="#" class="btn btn-success mx-1">success</a>
      <a href="#" class="btn btn-info mx-1">info</a>
      <a href="#" class="btn btn-danger mx-1">danger</a>
      <a href="#" class="btn btn-warning mx-1">warning</a>
    </div>

    <div class="panel-data">
      <label>label</label>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ullam eaque alias in obcaecati exercitationem
        quaerat unde, totam adipisci neque illum earum aperiam explicabo odio incidunt nesciunt repudiandae non iusto?
      </div>
      <label>label</label>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ullam eaque alias in obcaecati exercitationem
        quaerat unde, totam adipisci neque illum earum aperiam explicabo odio incidunt nesciunt repudiandae non iusto?
      </div>
    </div>

    <div class="mini-calendar">
      <label>01</label>
      <span>ม.ค.</span>
    </div>


  </div>
</div>