<!-- <div [class.sb-sidenav-toggled]="openSidenav">
    <div class="d-flex" id="wrapper">

        <div class="border-end" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom d-flex">
                <span class="sidebar-title w-100">
                    <div class="text-center py-3">นิสิต (Student)</div>
                </span>
                <span class="align-self-center" [class.rotate-180]="openSidenav" (click)="toggleSideNav()"> <i
                        class="bi bi-chevron-right"></i></span>
            </div>
            <div *ngFor="let sidebarnavItem of sidebarnavItems" class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" routerLink="{{sidebarnavItem.path}}"
                    routerLinkActive="active">
                    <i class="me-2" [ngClass]="[sidebarnavItem.icon]" [class.iconRight]="!openSidenav"></i>
                    <label *ngIf="openSidenav">{{sidebarnavItem.title}}</label></a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <! -- <div>
                <i class="rotate bi bi-caret-right-square-fill m-1 text-success" [class.rotate-180]="openSidenav"
                    (click)="toggleSideNav()"></i>
            </div> -- >
            <router-outlet></router-outlet>

        </div>
    </div>
</div> -->

<div class="d-flex">
    <app-side-nav [_menuItems]="student_menu_items"></app-side-nav>
    <div class="flex-grow-1">
        <router-outlet></router-outlet> 
    </div>
</div>