/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Sarabun:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
*/

/* My Color Theme */
:root {
  --msu-yellow: rgb(250, 223, 74);
  --msu-yellow1: rgb(251, 182, 0);
  --msu-gray: rgb(147, 151, 154);
  --msu-appbar: rgb(52, 74, 97);
  
  --color-theme1:rgb(20,20,20);
  --color-theme2:rgb(86,86,86);
  --color-theme3:rgb(158,158,158);
  --color-theme4:rgb(251, 169, 44);
  --color-theme4d:rgb(220, 132, 0);
  --color-theme5:rgb(255, 255, 255);

/* primary secondary success danger warning info light dark */
  --theme-bg:rgba(238,242,245);
  --theme-gray: rgb(147, 151, 154);
  --theme-gray-light: rgb(228, 231, 234);
  --theme-violet:rgb(215,25,97);
  --theme-navbar: rgb(52, 74, 97);
  --theme-dark:rgb(52, 74, 97);
  --theme-dark-1:rgb(161, 183, 207);
  --theme-light:rgb(248, 249, 250);
  --theme-light-1:rgb(239, 247, 255);
  --theme-primary-light:rgb(115, 206, 197);
  --theme-primary:rgb(77, 96, 241);
  --theme-primary-dark:rgb(52, 71, 212);
  --theme-success2: rgb(16,193,122);
   
  --theme-success:rgb(51,196,179);
  --theme-success1:rgb(28,198,146);
  --theme-success-dark:rgb(4, 148, 131);  
  --theme-info:rgb(0,116,191);
  --theme-info-dark:rgb(1,87,160);
  --theme-danger1:rgb(220, 53, 69);
  --theme-danger:rgb(221,28,13);
  --theme-danger-dark1:rgb(192, 18, 35);
  --theme-danger-dark:rgb(184, 20, 8);
  --theme-warning:rgb(255,193,7);
  --theme-warning-dark:rgb(255,193,7);
  --theme-font-dark:rgb(44,44,44);
  --theme-font-normal1:rgb(40,50,60);
  --theme-font-normal:#495057;
  --theme-font-light:rgb(255,255,255);
  
  --theme-line:rgb(222,226,230);
  --theme-bg-gray1:#F0F3F3;
  --theme-bg-gray0:#F6F7F8;


}
html{
    font-size:16px;
    
}
body{
    font-family: 'Sarabun',sans-serif;
    color:var(--theme-font-normal);
    line-height: 1.75rem;
    background-color: var(--theme-bg-gray0);
}

.bg-theme-light-1{
  background-color: var(--theme-light-1);
}
.bg-theme-light{
  background-color: var(--theme-light);
}

/* 
 textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus,
  button:focus, 
  select:focus,
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    box-shadow:none;
  }

  .form-control:focus,
  .form-select:focus,
  button:focus{   
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
  }*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Kanit", sans-serif;
    margin: 0;
  }


  h1,
  .h1 {
    font-size: 1.6em;
  }
  h2,
  .h2 {
    font-size: 1.4em;
  }
  h3,
  .h3 {
    font-size: 1.2em;
  }
  h4,
  .h4 {
    font-size: 1.1em;
  }
  h5,
  .h5 {
    font-size: 0.9em;
  }
  h6,
  .h6 {
    font-size: 0.8em;
  }



.panel-data {
  background-color: var(--theme-light);
}
.panel-data label{
  color:var(--theme-info);
  width:200px;
  height:100%;
  float: left;
  padding:0.25em;
  text-align:right;
}
.panel-data div{
  margin-left: 200px;
  padding:0.25em;
  background-color: white;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) { 
  .panel-data label{
    text-align:left;
    width:100%;
    padding:1em 0 0 0;
    font-weight:bold;
  }
  .panel-data div{
    margin-left: 0px;
    padding:0;
  }
}



.page-topic{
  padding:2em 0 1em 0;
}

.data-label{
  padding:1em;
}
.data-label label{
  color:var(--theme-success);
  width:250px;
  display:block;
}

.label span{
  padding-left:1em;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) { 
    .data-label label{
      display:block;
    }
 }


.text-hint{
  font-size:0.6em;
  font-style: italic;
  color:rgba(0,0,0,0.4);
}


.mini-calendar{
  background-color: var(--theme-gray-light);
  text-align: center;
  border-radius: 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.mini-calendar label{
  display:block;
}
.mini-calendar span{
  display:block;
  background-color:var(--theme-info);
  color:white;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-bottom-left-radius:4px;
  -moz-border-bottom-right-radius:4px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:4px;
}








/* btn-primary */
.btn-primary,
.btn-primary:visited{
  background-color: var(--theme-primary);
  border:none;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active
{
  background-color: var(--theme-primary-dark);
  box-shadow: none;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--theme-gray) !important;
}
/* btn-info */
.btn-info,
.btn-info:visited{
  color:white;
  background-color: var(--theme-info);
  border:none;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active
{
  color:white;
  background-color: var(--theme-info-dark);
  box-shadow: none;
}
.btn-info.disabled, .btn-info:disabled {
  background-color: var(--theme-gray) !important;
}
/* btn-success */
.btn-success,
.btn-success:visited{
  color:white;
  background-color: var(--theme-success);
  border:none;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active
{
  color:white;
  background-color: var(--theme-success-dark);
  box-shadow: none;
}
.btn-success.disabled, .btn-success:disabled {
  background-color: var(--theme-gray) !important;
}
/* btn-danger */
.btn-danger,
.btn-danger:visited{
  color:white;
  background-color: var(--theme-danger);
  border:none;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active
{
  color:white;
  background-color: var(--theme-danger-dark);
  box-shadow: none;
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: var(--theme-gray) !important;
}
/*----------------------------------------------*/

.bg-navbar{
    background-color: var(--theme-navbar);
}
.bg-msu-yellow1{
    background-color: var(--msu-yellow1);
}

.pagination-wrapper{
  border-top:1px solid var(--theme-light);
  padding-top:6px;
}
ul.pagination{
  margin-bottom: 0;
}
.list-group-item{
  color: var(--theme-font-dark);
  line-height: 2rem;
}
.list-group-item.active{
  background-color: var(--theme-success);
}
a.list-group-item{
  padding-right: 8px;
}

.dropdown-item.active{
  background-color: var(--theme-success);
}
.dropdown-item:hover{
  background-color: var(--theme-light);
  color:var(--theme-font-dark);
}
.dropdown-item:focus{
  background-color: var(--theme-success);
  color:white;
}
.navbar-nav .nav-item{
  border-left:1px dashed rgba(255,255,255,0.3);
}
@media (max-width: 992px) {
  .navbar-nav .nav-item{
    border-left:none;
    /* border-bottom:1px dashed rgba(255,255,255,0.3); */
  }
}


.pageheader {
  padding: 15px;
  border-bottom: 1px solid #dce0e6;
  border-top: 1px solid #eee;
  background: var(--theme-bg-gray1);
  position: relative;
}

.page-item a{
  color:var(--theme-font-dark);
}
.page-item a:hover{
  background-color: var(--theme-light);
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--theme-success);
  border-color: var(--theme-success);
}
.page-item.active a:hover{
  cursor:default;
}


.text-info{
  color:var(--theme-info) !important;
}
.text-primary{
  color:var(--theme-primary) !important;
}
.text-success{
  color:var(--theme-success) !important;
}
.text-danger{
  color:var(--theme-danger) !important;
}
.text-warning{
  color:var(--theme-warning) !important;
}
.text-error{
  color:var(--theme-danger) !important;
}






.form-control{
    background-color: white;
  }
  .form-control:focus{
    background-color:#FFFFE0;
  }
  .form-error {
    color: red;
    font-size: 0.8rem;
    font-family: "Sarabun";
  }
  .form-label {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
.form-error{
    font-size:0.8rem;
    color:red;
}

td.fit, th.fit {
    white-space: nowrap;
    width: 1%;
}

.toast-success { background-color: rgba(0, 200, 81,0.7) !important; } 
.toast-info { background-color: rgba(51, 181, 229,0.7) !important; }
.toast-warning { background-color: rgba(255, 187, 51,0.7) !important; }
.toast-error { background-color: rgba(255, 68, 68,0.7) !important; }



.card-no-border{
  border:none;
}
.card-shadow{
  border: 1px solid #ced4da;
  /* 
  border-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgb(0 0 0 / 5%), 0px 0px 6px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 2px rgb(0 0 0 / 5%), 0px 0px 6px rgb(0 0 0 / 10%);
  */
}
.card-body{
  padding:8px;
}
.card-topic{
  line-height:2rem;
  padding:0.5rem 0.8rem;
  font-size: 1.1rem;
  font-weight:400;
  color:var(--theme-success);
  background-color: var(--theme-light-1);
}
.sidebar-title{
  background-color: var(--theme-light-1);
}

.item-table{
    font-family: "Sarabun",sans-serif;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
   /* -webkit-box-shadow: 0px 0px 2px rgb(0 0 0 / 5%), 0px 0px 10px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 2px rgb(0 0 0 / 5%), 0px 0px 10px rgb(0 0 0 / 10%); */
    margin: 0;
    min-width: 320px;
}
/* .item-table tbody{
  border-bottom: 1px solid var(--theme-line);
} */
.item-table tr:hover{
    background-color: var(--theme-light);
}
.item-table th{
    padding: 6px 6px;
    background-color:var(--theme-light-1);
    white-space: nowrap;
    font-weight: normal;
}
.item-table td{
    display: table-cell;
    padding: 3px 6px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }


app-side-nav{
    border-right: 1px solid var(--theme-light);
}

.rounded-2 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nav-tabs .nav-link{
  color: var(--theme-gray);
}
.nav-tabs .nav-link.active {
  color: var(--theme-success);
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.tab-content{
  background-color:white;
  border:1px solid rgb(222, 226, 230);
  border-top:none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}










/* panel */
.panel {
  border: none;
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.panel > .panel-heading {
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px 10px;
  border-bottom: 1px solid transparent;
}
.panel-heading > .panel-title {
  height: auto;
  font-size: 0.813em;
}
.panel > .panel-footer {
  border-color: #ecedf0;
}
.modal-footer .btn + .btn {
  margin-bottom: 5px;
}
.panel .actions {
  position: absolute;
  right: 30px;
  top: 8px;
}
.panel .actions i {
  font-size: 0.875em;
  margin: 0 3px;
}
.panel .actions i:hover {
  cursor: pointer;
}
.panel > .panel-footer {
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel .panel-body .h1 {
  float: none;
}

.panel-default > .panel-heading {
  border-color: #eff2f7;
  background: #fff;
  color: #767676;
}
.panel-default .actions i {
  color: #909aa0;
  margin: 0 3px;
}
.panel-default .actions i:hover {
  cursor: pointer;
  color: #767676;
}
.panel-default > .panel-footer {
  border-color: #eff2f7;
  background: #fff;
  color: #767676;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #556b8d;
  border-color: #556b8d;
}
.panel-primary {
  border-color: #1abc9c;
}
.panel-primary > .panel-heading a,
.panel-primary > .panel-heading a:hover {
  color: #ffffff;
}
.panel-solid-default > .panel-body,
.panel-solid-default > .panel-footer,
.panel-solid-default > .panel-heading {
  background: #909aa0;
  border: none;
  color: #ffffff;
}
.panel-solid-primary > .panel-body,
.panel-solid-primary > .panel-footer,
.panel-solid-primary > .panel-heading {
  background: #556b8d;
  color: #fff;
  border: none;
}
.panel-solid-success > .panel-body,
.panel-solid-success > .panel-footer,
.panel-solid-success > .panel-heading {
  background: #27b6af;
  color: #fff;
  border: none;
}
.panel-solid-warning > .panel-body,
.panel-solid-warning > .panel-footer,
.panel-solid-warning > .panel-heading {
  background: #edce8c;
  color: #fff;
  border: none;
}
.panel-solid-info > .panel-body,
.panel-solid-info > .panel-footer,
.panel-solid-info > .panel-heading {
  background: #1f7bb6;
  color: #fff;
  border: none;
}
.panel-solid-danger > .panel-body,
.panel-solid-danger > .panel-footer,
.panel-solid-danger > .panel-heading {
  background: #e25d5d;
  color: #fff;
  border: none;
}
.panel-gradient-default > .panel-body {
  background: #909aa0;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #909aa0 25%, #a4aaad 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #909aa0), color-stop(100%, #a4aaad));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #909aa0 25%, #a4aaad 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #909aa0 25%, #a4aaad 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #909aa0 25%, #a4aaad 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #909aa0 25%, #a4aaad 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@defaultColor', endColorstr='#a4aaad', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel-gradient-primary > .panel-body {
  background: #1abc9c;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1abc9c 25%, #87d5ab 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #1abc9c), color-stop(100%, #87d5ab));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #1abc9c 25%, #87d5ab 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #1abc9c 25%, #87d5ab 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #1abc9c 25%, #87d5ab 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #1abc9c 25%, #87d5ab 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1abc9c', endColorstr='#87d5ab', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel-gradient-success > .panel-body {
  background: #2dcc70;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2dcc70 25%, #27ad5f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #2dcc70), color-stop(100%, #27ad5f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #2dcc70 25%, #27ad5f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #2dcc70 25%, #27ad5f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #2dcc70 25%, #27ad5f 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #2dcc70 25%, #27ad5f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dcc70', endColorstr='#27ad5f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel-gradient-warning > .panel-body {
  background: #f1c40f;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f1c40f 25%, #e0af0f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #f1c40f), color-stop(100%, #e0af0f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #f1c40f 25%, #e0af0f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #f1c40f 25%, #e0af0f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #f1c40f 25%, #e0af0f 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #f1c40f 25%, #e0af0f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1c40f', endColorstr='#e0af0f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel-gradient-info > .panel-body {
  background: #3598db;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #3598db 25%, #0e7bce 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #3598db), color-stop(100%, #0e7bce));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #3598db 25%, #0e7bce 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #3598db 25%, #0e7bce 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #3598db 25%, #0e7bce 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #3598db 25%, #0e7bce 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3598db', endColorstr='#0e7bce', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel-gradient-info > .panel-body a:link,
.panel-gradient-info > .panel-body a:visited {
  color: #fff;
  text-decoration: none;
}
.panel-gradient-info > .panel-body a:hover,
.panel-gradient-info > .panel-body a:active {
  color: #fff;
  text-decoration: underline;
}
.panel-gradient-danger > .panel-body {
  background: #e84c3d;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e84c3d 25%, #d34639 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #e84c3d), color-stop(100%, #d34639));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #e84c3d 25%, #d34639 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #e84c3d 25%, #d34639 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #e84c3d 25%, #d34639 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #e84c3d 25%, #d34639 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e84c3d', endColorstr='#d34639', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}