<div class="container-fluid">
    <div class="row">
        <div class="col">

            <div class="d-flex py-2">
                <div class="me-auto">
                    <button class='btn p-0 m-0' [routerLink]="['../']" routerLinkActive="router-link-active"><i
                            class="bi bi-chevron-left me-1"></i>ย้อนกลับ</button>
                </div>
                <div class="align-self-center ms-2">
                    <!-- <button class="btn btn-sm btn-success text-white">
                        <i class="bi bi-arrow-repeat"></i>
                    </button> -->
                </div>
            </div>

            <div class="card card-no-border">
                <div class="card-body">
                    <div class="card-topic">
                        เพิ่มข้อมูล
                    </div>

                    <form [formGroup]="formUser" #ngForm="ngForm" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label class="form-label">รหัสผู้ใช้งาน</label>
                                <input formControlName="user_id" class="form-control" readonly>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6">
                                <label class="form-label">username</label>
                                <input formControlName="username" class="form-control">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6">
                                <label class="form-label">ชื่อผู้ใช้งาน</label>
                                <input formControlName="displayname" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label class="form-label">รหัสผ่าน</label>
                                <input formControlName="password" class="form-control" >
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6">
                                <label class="form-label">e-mail</label>
                                <input formControlName="email" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success me-2" [disabled]="!formUser.valid"  (click)="onSubmit()">Save</button>
                                <button type="button" [routerLink]="['../']" class="btn btn-secondary">ยกเลิก</button>
                            </div>
                        </div>

                    </form>


                </div>
            </div>






        </div>
    </div>
</div>